@charset "utf-8";



/*公用*/
.comWidth{width: 1200px; margin-left: auto; margin-right: auto;}


.nav {
    width: 100%;
    height: 68px;
}

.nav_content {
    height: 68px;
}
.nav_content a:hover{
    color: #ffc600;
}
.nav_content img {
    width: 105px;
    margin-left: 83px;
    margin-top: 18px;
}
.nav_content ul {
    /*width: 399px;*/
    margin-top: 35px;
    margin-left: 133px;
}
.nav_content ul li {
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    margin-right: 50px;
    float: left;
}
.nav_content div {
    height: 68px;
}
.nav_content div .phone {
    display: block;
    width: 100px;
    height: 16px;
    line-height: 16px;
    margin-left: 15px;
    padding-left: 22px;
    margin-top: 35px;
    background: url("../images/nav/phone.gif") no-repeat left center;
}
.nav_content div .online,
.nav_content div .down {
    display: block;
    width: 94px;
    height: 31px;
    border-radius: 3px;
    margin: 26px 0 0px 10px;

}
.nav_content div .online {
    color: #25a9e1;
    border: 1px solid #25a9e1;
    width: 92px;
    height: 29px;
}
.nav_content div .down {
    color: #fff;
    background-color: #25a9e1;
    border: 1px solid #25a9e1;
    width: 92px;
    height: 29px;
}
.nav_content div a {
    display: block;
    margin-top: 35px;
    height: 16px;
    width: 40px;
    line-height: 16px;
    font-size: 12px;
    margin-left: 21px;
}

/*广告*/
.ad {
    width: 100%;
    height: 895px;
    background: url("../images/logo/logo_bg.gif") center center;
}
.ad_logo img {
    margin-left: 99px;
    width: 129px;
    height: 140px;
}
.ad_logo p {
    text-align: center;
    margin-top: 28px;
}
.ad_logo .text1 {
    font-size: 56px;
    color: #545e69;
}
.ad_logo .text2 {
    font-size: 32px;
    color: #3a4654;
}

/*产品*/
.product {
    width: 100%;
    height: 736px;
    background: url("../images/wrap/wrap_bg01.gif") center center;
    padding-top: 100px;
}
.product_body {

}
.product_body p {
    text-align: center;
}
.product_body .text1 {
    font-size: 49px;
    color: #6bc2e6;
}
.product_body .text2 {
    font-size: 18px;
    height: 27px;
    line-height: 27px;
    color: #6bc2e6;
    margin-top: 61px;
}
.product_body ul {
    padding-left: 25px;
}
.product_body li {
    float: left;
    margin-top: 87px;
    margin-right: 87px;
}

/*广告2*/
.ad2 {
    width: 100%;
    height: 894px;
    background: url("../images/wrap/wrap_bg02.gif") center center;
}
.ad2_body {}





























